.benefits {
    margin-bottom: 170px;
    padding-top: 60px;
}

.benefits-title {
    text-align: center;
    margin-bottom: 58px;
}

.benefits-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 35px;
}